// Colors
$color-primary: #0f98d6;
$color-secondary: #5bb15f;

$color-white: #fff;

$color-black-900: #272727;
$color-black-800: #373737;
$color-black-700: #404040;
$color-black-600: #4a4949;
$color-black-500: #515050;
$color-black-400: #757575;
$color-black-300: #8a8a8a;
$color-black-200: #9e9e9e;
$color-black-100: #d6d6d6;
$color-black-50: #eeeeee;
$color-black-25: #fafafa;

$color-green: #17b51c;
$color-yellow: #fcca26;
$color-red: #832f2f;

// Spacing
$spacing: 1rem; // 16px
$spacing-base: 0.5rem; // 8px
$spacing-gap: 1rem; // 16px
$spacing-outter: 1.5rem; // 24px
