@import "./abstracts/variables.scss";

* {
  box-sizing: border-box;

  font-family: "sans-serif";
}

body {
  overflow: hidden;

  background-color: $color-black-700;
}

body,
blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

button {
  font-family: inherit;

  &:focus {
    outline: none;
  }
}
