@import "src/styles/abstracts/breakpoints.scss";
@import "src/styles/abstracts/typography.scss";
@import "src/styles/abstracts/variables.scss";

.food {
  height: auto;
  position: absolute;

  aspect-ratio: 1 / 1;

  border-radius: 7px;
  background-color: $color-secondary;
}
