@import "src/styles/abstracts/breakpoints.scss";
@import "src/styles/abstracts/typography.scss";
@import "src/styles/abstracts/variables.scss";

.container {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  gap: $spacing;

  color: $color-white;

  padding: $spacing;
}
