@import "src/styles/abstracts/breakpoints.scss";
@import "src/styles/abstracts/typography.scss";
@import "src/styles/abstracts/variables.scss";

.worm {
  z-index: 5;
  position: relative;
}

.wormBody {
  position: absolute;

  height: auto;
  aspect-ratio: 1 / 1;

  background-color: $color-primary;
}
